/hack/static/sass/.sass-cache/6319b78dd35885ecd6e37886ca1161b8bcec9c59/sample.sassc
/hack/static/sass/.sass-cache/*
/hack/static/sass/.sass-cache/725bea24eeef4aab3c4b12f84a04f8153fdb8819/sample.sassc
/npm-debug.log
/node_modules/
/static/
*.pyc
