{% load url from future %}
{% load staticfiles %}
{% load compressed %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">

    <title>{% block head_title %}Hackathon{% endblock %}</title>
   {% block extra_head %}
    <script src="{% static "js/jquery-2.0.3.min.js" %}"/></script>
    {% endblock %}
{% block js-css-imports %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>

    <script src="{% static "js/angularjs/angular.js" %}"></script>

    {% compressed_css 'main' %}
    {% compressed_js 'main' %}

{% endblock %}
    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">

{% block custom-styles %}
    <style>
    </style>
{% endblock %}
{% block custom-js %}
    <script>
    </script>
{% endblock %}
  </head>
  <body>


  </body>
</html>
