{% load url from future %}
{% load staticfiles %}
{% load compressed %}

<html lang="en" ng-app="pingwin">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">

    <title>{% block head_title %}Hackathon{% endblock %}</title>

{% block js-css-imports %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}"/>

    <script src="{% static "js/angularjs/angular.js" %}"></script>
    <script src="{% static "js/angularjs/angular-resource.js" %}"></script>
    <script src="{% static "js/angularjs/angular-route.js" %}"></script>
    <script src="{% static "js/angularjs/angular-sanitize.js" %}"></script>

    <script src="{% static "js/config.js" %}"></script>

    {% compressed_css 'main' %}
    {% compressed_js 'main' %}

{% endblock %}
    

{% block custom-styles %}
    <style>
    </style>
{% endblock %}
{% block custom-js %}
    <script>
    </script>
{% endblock %}
  </head>
  <body>
    
    <div ng-view></div>

  </body>
</html>
