{% extends "base.html" %}


{% block page_content %}
    <div class="page-content">
        <div class="page-header position-relative">
            <h1>
                Dashboard
                <small>
                    <i class="icon-double-angle-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row-fluid">
            <div class="span12">
                <!-- PAGE CONTENT BEGINS -->
                    <h1>Hackathon project, pinger</h1>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.span -->
        </div><!-- /.row-fluid -->
    </div>
{% endblock %}